<div class="columns">
  <div class="column">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Member list
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table mat-table [dataSource]="membersList" class="table is-fullwidth is-striped"
                 matSort matSortActive="id" matSortDirection="asc" (matSortChange)="sortData($event)">
            <ng-container matColumnDef="lp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Lp </th>-->
              <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
              <td mat-cell *matCellDef="let member"> {{member.username}} </td>
            </ng-container>
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> level </th>
              <td mat-cell *matCellDef="let member"> {{member.level}} </td>
            </ng-container>
            <ng-container matColumnDef="daysInFaction">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> daysInFaction </th>
              <td mat-cell *matCellDef="let member" > {{member.daysInFaction}} </td>
            </ng-container>
            <ng-container matColumnDef="rpForFaction">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> rpForFaction </th>
              <td mat-cell *matCellDef="let member" > {{member.rpForFaction}} </td>
            </ng-container>
            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> roles </th>
              <td mat-cell *matCellDef="let member" > {{member.roles}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
              <td mat-cell *matCellDef="let member" >
                <a class="button is-small is-info" href="https://www.torn.com/profiles.php?XID={{member.tornId}}">Profile</a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
