<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <h1>Welcome.</h1>
              <h1 (mouseenter)="mouseHovering()" (mouseleave)="mouseLeaving()">Sign In with your Torn API Key</h1>
              <p *ngIf="isHovering">Your Torn API Key <strong>isn't storage anywhere</strong>. It is used to make faction request like update member list.
                But... it isn't storage anywhere.</p>
            </div>
            <div class="field">
              <label for="" class="label">Torn API Key</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Place here your Torn API Key" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
