<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Torn API Key</label>
              <p>I need your API Key to verify - if you have council/mentors perm to check data. I'm not saving this anywhere, but I can use it to get faction data like respect, members days in faction etc.!</p>
              <div class="control has-icons-left">
                <input type="text" placeholder="Your TORN API KEY" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
