<aside class="menu is-hidden-mobile">
  <p class="menu-label">
    Shorts
  </p>
  <ul class="menu-list">
    <li><a routerLink="/dashboard" [routerLinkActive]="'is-active'">Dashboard</a></li>
    <li><a routerLink="/merit" [routerLinkActive]="'is-active'">Merit list</a></li>
    <li><a routerLink="/events" [routerLinkActive]="'is-active'">Events</a></li>
  </ul>
  <p class="menu-label">
    Docs
  </p>
  <ul class="menu-list">
    <li><a routerLink="/welcome" [routerLinkActive]="'is-active'">Welcome message</a></li>
  </ul>
  <ul class="menu-list">
    <li><a (click)="logout()">Logut</a></li>
  </ul>
</aside>
