<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clockwork Orange - members list</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        Clockwork Orange - council administration panel
      </a>
    </div>
  </div>
</nav>
<!-- END NAV -->
<div class="container is-fullheight">
  <div class="columns">
    <div class="column is-3">
      <app-navigation></app-navigation>
    </div>
    <div class="column is-9">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <!--       TODO: breadcrumb-->
        <ul>
          <li><a href="../">todo</a></li>
          <li><a href="../">todo</a></li>
          <li><a href="../">Examples</a></li>
        </ul>
      </nav>
      <app-members-list></app-members-list>
    </div>
  </div>
</div>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
